@using BiermanTech.CriticalDog.ViewModels

@model IList<SubjectRecordViewModel>

<div class="small d-flex flex-column w-100">
    <!-- Header Row -->
    <div class="d-flex border-bottom fw-bold p-2 gap-3">
        <div class="col-3 flex-fill text-start">Date</div>
        <div class="col-3 flex-fill text-start">Name</div>
        <div class="col-3 flex-fill text-start">Value</div>
        <div class="col-3 flex-fill text-start">Note</div>
    </div>
    <!-- Data Rows -->
    @foreach (var record in Model)
    {
        <div class="d-flex border-bottom p-2 gap-3">
            <div class="col-3 flex-fill text-start">@record.CreatedAt</div>
            <div class="col-3 flex-fill text-start">@StringHelper.SplitPascalCase(record.ObservationDefinition.Name)</div>
            <div class="col-3 flex-fill text-start">@record.MetricValueWithSymbol</div>
            <div class="col-3 flex-fill text-start">@record.Note</div>
        </div>
    }
</div>