@page
@model IndexModel
@{
    ViewData["Title"] = "Critical Dog";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Critical Dog</h1>
</div>

<div class="section">
    <p class="lead">Critical Dog is designed to track and monitor the health and behavior of dogs. It provides a structured system for handlers and trainers to record observations, manage medical data, and categorize findings.</p>
</div>